body {
  font-family: "Afacad Flux", sans-serif;
  text-align: center;
}

.btn-custom {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-width: 1.75px;
  border-color: rgb(122, 255, 122);
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.btn-custom:hover {
  background-color: rgb(122, 255, 122);
  color: black !important;
  transform: scale(1.05);
  border-color: rgb(122, 255, 122) !important;
}
.btn-custom:active {
  background-color: rgb(122, 255, 122) !important;
  color: rgb(0, 0, 0) !important;
  transform: scale(1.1);
  border-color: rgb(122, 255, 122) !important;
}

.btn-custom:focus {
  background-color: rgb(122, 255, 122);
  color: black !important;
  transform: scale(1.05);
  border-color: rgb(122, 255, 122) !important;
}
.navbar-brand {
  font-size: 30px;
  margin-top: 0;
}
.custom-navbar {
  padding-left: 300px;
  padding-right: 300px;
  background-color: white;
}

@media (min-width: 1500px) {
  .container.d-flex {
    flex-wrap: wrap;
  }
  .row {
    flex-direction: row;
  }
  .img {
    max-width: 100%;
  }
  .subheading {
    text-align: center;
    margin-top: 20px;
  }
}

@media (max-width: 1400px) {
  .custom-navbar {
    padding-left: 200px;
    padding-right: 200px;
  }
}

@media (max-width: 1200px) {
  .custom-navbar {
    padding-left: 150px;
    padding-right: 150px;
  }
}

@media (max-width: 992px) {
  .custom-navbar {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 768px) {
  .custom-navbar {
    padding-left: 50px;
    padding-right: 50px;
  }
  .card {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  .card-heading {
    font-size: 1.25rem;
  }

  .card-text {
    font-size: 0.9rem;
  }
  .img {
    width: auto;
    height: auto;
    margin-top: 0;
  }
  .heading {
    margin-bottom: 0px;
  }
}

.img {
  width: 37.5vw;
  height: 25.5vw;
  border-radius: 5vw;
}

.heading {
  margin-top: 100px;
  margin-bottom: 50px;
  font-weight: 600;
}

.main-container {
  margin-bottom: 100px;
}

.center-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-div {
  margin-top: 50px;
  margin-bottom: 50px;
}

.btn-brand {
  width: 250px;
  height: 75px;
  border-radius: 10px;
  background-color: rgb(122, 255, 122);
  color: rgb(0, 0, 0);
  border-width: 1.75px;
  border-color: rgb(122, 255, 122);
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.btn-brand:hover {
  background-color: rgb(122, 255, 122);
  color: black !important;
  transform: scale(1.05);
  border-color: rgb(122, 255, 122) !important;
}
.btn-brand:active {
  background-color: rgb(122, 255, 122) !important;
  color: rgb(0, 0, 0) !important;
  transform: scale(1.1);
  border-color: rgb(122, 255, 122) !important;
}

.btn-brand:focus {
  background-color: rgb(122, 255, 122);
  color: black !important;
  transform: scale(1.05);
  border-color: rgb(122, 255, 122) !important;
}

#moreinfo {
  width: fill;
  height: 400px;
  background-color: rgb(122, 255, 122);
  margin-bottom: 100px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-cont {
  margin-top: 7vw;
  margin-bottom: 7vw;
  background-color: rgb(122, 255, 122);
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.card {
  width: 30vw;
  height: auto;
  border-radius: 20px;
  margin-right: 3vw;
  margin-bottom: 2vw;
}

.card-heading {
  margin: 1vw;
  font-size: 1.5rem;
}

.card-text {
  font-size: 1rem;
}

.centered {
  margin: auto;
}

.extra-info {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}
