body {
  font-family: "Afacad Flux", sans-serif !important;
  text-align: center;
}

.btn-brand {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-width: 1.75px;
  border-color: rgb(122, 255, 122);
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.btn-brand:hover {
  background-color: rgb(122, 255, 122);
  color: black !important;
  transform: scale(1.05);
  border-color: rgb(122, 255, 122) !important;
}
.btn-brand:active {
  background-color: rgb(122, 255, 122) !important;
  color: rgb(0, 0, 0) !important;
  transform: scale(1.1);
  border-color: rgb(122, 255, 122) !important;
}

.btn-brand:focus {
  background-color: rgb(122, 255, 122);
  color: black !important;
  transform: scale(1.05);
  border-color: rgb(122, 255, 122) !important;
}
.navbar {
  background-color: rgb(122, 255, 122);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.welcome {
  margin-top: 20px;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 1000;
  border-right: 1px solid #ddd;
}
.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  color: black;
  display: block;
  transition: 0.3s;
}
.sidebar a:hover {
  background-color: #f0f0f0;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}
.menu-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(122, 255, 122);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  z-index: 1001;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.menu-btn:hover {
  background-color: rgb(102, 235, 102);
  transform: scale(1.05);
}
.brand-logo img {
  margin-top: -7px;
  vertical-align: middle;
}
.brand-logo {
  font-size: 28px !important;
  text-align: center;
  color: rgb(122, 255, 122) !important;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.card-title {
  font-size: 30px;
}

.main-dash-text {
  color: rgb(122, 255, 122);
  font-size: 50px;
  font-weight: 600;
  margin-top: -20px;
}

.main-big-text {
  color: rgb(122, 255, 122);
  font-size: 100px;
  font-weight: 700;
  margin-top: -30px;
}

.main {
  font-size: 40px;
}
.submain {
  font-size: 30px;
  color: rgb(122, 255, 122);
  margin-top: -40px;
}

.tighter-spacing p {
  margin-bottom: 0; /* Reduce space between all paragraphs */
}

.tighter-spacing p:last-child {
  margin-bottom: 0; /* Remove space after the last paragraph */
}

.card {
  border-radius: 30px;
}

.menu-btn {
  color: black !important;
  text-decoration: none !important;
}

@media (max-width: 1024px) {
  .main-dash-text {
    font-weight: 500;
  }

  .main-big-text {
    font-weight: 500;
  }
}
