body {
  font-family: "Afacad Flux", sans-serif !important;
  text-align: center;
  margin-left: 60px;
}
.brand-logo {
  font-size: 28px !important;
  text-align: center;
  color: rgb(122, 255, 122) !important;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.card {
  text-align: left;

  margin: auto;
  padding: 20px;
  padding-top: 5px;
  border-width: 1.75px;
  transition: border-color 0.3s ease-in-out;
  margin-bottom: 15px;
}

.card:hover {
  border-color: #00ff00;
}

.card-title {
  font-weight: 550;
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.card-sub {
  color: grey;
  margin-bottom: 0px;
}

.main-dash-text {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 0px;
}

.main-big-text {
  font-size: 20px;
  font-weight: 700;
  margin-top: -15px;
  margin-left: 3px;
}

.main {
  font-size: 40px;
}
.submain {
  font-size: 30px;
  color: rgb(122, 255, 122);
  margin-top: -40px;
}

.tighter-spacing p {
  margin-bottom: 0;
}

.tighter-spacing p:last-child {
  margin-bottom: 0;
}

.dashboard-page {
  text-align: left;
}

.logo {
  text-decoration: none !important;
  color: black !important;
}

@media (max-width: 1024px) {
  .main-dash-text {
    font-weight: 500;
  }

  .main-big-text {
    font-weight: 500;
  }
}
